.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #0eed10;
}
.home-link {
  top: 252px;
  left: 1068px;
  width: 202px;
  height: 98px;
  position: absolute;
  font-size: 24px;
  text-decoration: none;
  background-color: rgb(6, 215, 236);
}
.home-link01 {
  top: 334px;
  left: 1315px;
  width: 228px;
  height: 105px;
  position: absolute;
  font-size: 24px;
  text-decoration: none;
  background-color: rgb(1, 222, 245);
}
.home-link02 {
  top: 365px;
  left: 1058px;
  width: 220px;
  height: 78px;
  position: absolute;
  font-size: 24px;
  text-decoration: none;
  background-color: rgb(4, 210, 241);
}
.home-link03 {
  top: 252px;
  left: 740px;
  width: 169px;
  height: 47px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  text-decoration: none;
  background-color: rgb(8, 199, 249);
}
.home-link04 {
  top: 250px;
  left: 438px;
  color: var(--dl-color-gray-black);
  width: 159px;
  height: 53px;
  position: absolute;
  font-size: 24px;
  align-self: flex-start;
  text-decoration: none;
  background-color: rgb(9, 202, 241);
}
.home-link05 {
  top: 250px;
  left: 598px;
  width: 140px;
  height: 51px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  text-decoration: none;
  background-color: rgb(9, 195, 243);
}
.home-text {
  top: 207px;
  left: 558px;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  font-family: Arial;
  font-weight: 700;
}
.home-link06 {
  top: 242px;
  left: 1314px;
  width: 211px;
  height: 77px;
  position: absolute;
  font-size: 24px;
  text-decoration: none;
  background-color: rgb(3, 215, 247);
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text03 {
  font-family: Arial;
}
.home-text04 {
  color: var(--dl-color-gray-black);
  font-style: italic;
  font-weight: 700;
}
.home-text06 {
  top: 381px;
  left: 349px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
  font-size: 48px;
}
.home-link07 {
  display: contents;
}
.home-image {
  top: 446px;
  left: -1px;
  width: 701px;
  height: 329px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link08 {
  display: contents;
}
.home-image1 {
  left: 2px;
  width: 605px;
  bottom: -2px;
  height: 229px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-button {
  top: 458px;
  left: 1024px;
  width: 270px;
  height: 95px;
  display: flex;
  position: absolute;
  flex-direction: row;
  background-color: #0ad5f3;
}
.home-text07 {
  left: 5px;
  bottom: 5px;
  position: absolute;
  font-size: 24px;
}
.home-text09 {
  background-color: rgb(6, 206, 236);
}
.home-link09 {
  top: 459px;
  left: 1318px;
  width: 237px;
  height: 124px;
  position: absolute;
  text-decoration: none;
  background-color: #0cd1ef;
}
.home-text11 {
  font-size: 24px;
}
.home-text14 {
  top: 206px;
  left: 1212px;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  font-family: Arial;
  font-weight: 700;
  background-image: url("https://bafybeihddefndayoxawe4wmfyzqfe7i45fn2nr6auajesnwtlcgvrvkv7q.ipfs.w3s.link/");
}
